[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flasgger = "==0.9.5"
flask = "==2.1.1"
sqlalchemy = "==1.4.37"
mysqlclient = "==2.1.0"
flask-login = "==0.6.2"
python-dotenv = "*"
flask-wtf = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
